<!-- _includes/banner.html -->
<div class="banner-container my-4">
  <div class="banner-wrapper {% if include.type %}banner-{{ include.type }}{% else %}banner-default{% endif %}{% if include.glow != false %} with-glow{% endif %}">
    {% if include.icon %}
    <div class="banner-icon">
      <i class="{{ include.icon }}"></i>
    </div>
    {% endif %}
    
    <div class="banner-content">
      {% if include.title %}
      <h4 class="banner-title">{{ include.title }}</h4>
      {% endif %}
      
      <div class="banner-text">
        {{ include.content | markdownify }}
      </div>
      
      {% if include.button_text and include.button_url %}
      <a href="{{ include.button_url }}" class="banner-button" {% if include.button_target %}target="{{ include.button_target }}"{% endif %}>
        {{ include.button_text }}
        {% if include.button_icon %}
        <i class="{{ include.button_icon }}"></i>
        {% endif %}
      </a>
      {% endif %}
    </div>
  </div>
</div>
